<div style="display: flex; height: 100vh; overflow: hidden">
  <c-responsive-container>
    <div style="height: 100vh">
      <c-sidebar-header
        [config]="{
          logo: {
            url: 'https://angular.io/assets/images/logos/angular/shield-large.svg',
            height: '50px',
            width: 'auto'
          },
          collapsedLogo: {
            url: 'https://angular.io/assets/images/logos/angular/shield-large.svg',
            height: '30px',
            width: 'auto'
          }
        }"
      />
      <div style="display: flex; height: 100%">
        <c-small-sidebar [config]="smallSidebar" />
        <c-large-sidebar [config]="largeSidebar" />
      </div>
    </div>
  </c-responsive-container>
</div>
