<!-- <div style="display: flex; height: 100vh; overflow: hidden">
  <c-responsive-container>
    <div style="height: 100vh">
      <c-sidebar-header
        [config]="{
          logo: {
            url: './../assets/full-logo.png',
            height: '50px',
            width: 'auto'
          },
          collapsedLogo: {
            url: './../assets/full-logo.png',
            height: '30px',
            width: 'auto'
          }
        }"
      />
      <div style="display: flex; height: 100%">
        <c-small-sidebar [config]="smallSidebar" />
        <c-sidebar [config]="largeSidebar" />
      </div>
    </div>
  </c-responsive-container>
</div> -->

<div style="display: flex; height: 100vh; overflow: hidden">
  <c-sidebar
    height="100vh"
    [logoConfig]="{
      logo: {
        url: './../assets/full-logo.png',
        height: '50px',
        width: 'auto'
      },
      collapsedLogo: {
        url: './../assets/full-logo.png',
        height: '30px',
        width: 'auto'
      }
    }"
    [sidebarConfig]="largeSidebar"
    [smallSidebarDefaultIndex]="0"
    (smallSidebarItemClick)="onSelectSmallSidebar($event)"
    (sidebarItemClick)="onSelectSidebar($event)"
    (onItemClick)="onSidebarItemClick($event)"
  >
    <!-- <ng-container smallSidebar>
      <p>Custom content</p>
    </ng-container> -->

    <ng-container header>
      <div class="search-field">
        <input type="text" placeholder="Search anything here..." />
      </div>
    </ng-container>
    <ng-container footer>
      <section class="user-data">
        <div class="avatar">PB</div>
        <div class="data">
          <h3>Phoenix Baker</h3>
          <span>phoenix&#64;gmail.com</span>
        </div>
      </section>
    </ng-container>
  </c-sidebar>

  <div style="overflow: auto; width: 100%">
    <!-- <h1>Title</h1> -->
    <div style="height: 2000px; width: 20px; margin-left: 100px"></div>
  </div>
</div>
