/* You can add global styles to this file, and also import other style files */

.highlighted {
  &::after {
    content: 'NEW';
    background-color: #c5f1d9;
    color: black;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    padding: 3px 5px;
  }
}
.classic-sidebar.closed {
  .highlighted::after {
    right: -10px;
    font-size: 6px;
  }
}

.search-field {
  input {
    width: 100%;
    padding: 0.6rem;
    font-size: 12px;
    border: 1px solid #efeff0;
    border-radius: 5px;
    &::placeholder {
      color: rgba(128, 128, 128, 0.645);
    }
  }
}

.user-data {
  display: flex;
  align-items: center;
  // justify-content: center;

  .avatar {
    background-image: url('https://randomuser.me/api/portraits/men/44.jpg');
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background: linear-gradient(120deg, #fa2c05 20%, #f637e3 40%, #8514f5 200%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
  }
  .data {
    display: flex;
    flex-flow: column;
    margin-left: 0.5rem;
    h3 {
      font-size: 12px;
    }
    span {
      display: block;
      margin: 0;
      margin-top: 0.1rem;
      color: rgba(128, 128, 128, 0.862);
      font-size: 11px;
    }
  }
}

body {
  overflow-x: hidden;
}
