.permissions-popup {
  font-family: 'Inter', sans-serif;
  .backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  main {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    min-width: 200px;
    min-height: 100px;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 1.2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 15px #0000000b;
    img {
      width: 50%;
    }
    h1 {
      margin-top: 0px;
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
    }
    p {
      margin-top: 0.4rem;
      font-size: 0.9rem;
      color: #7d7d7d;
    }
  }
}
